@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*break*/



#pageHeader{
    grid-area: header;
    border-bottom: 1.5px solid purple;
    justify-content: space-between;
    padding: 0vw 5vw;
    align-items: center;
    display: flex;
}
#logOutButton{
    color: white;
    background: none;
    border: 1px dashed white;
}
#holder{
    background: black;
    display: grid;
    height: 100vh;
    padding: 0px 0px 0px 0px;
    grid-template-areas: 'header'
    'contentArea'
    'inputArea';
    grid-template-rows: 5vh auto 5vh;
    padding: 0vh 0vw 5vh 0vw;
    overflow: hidden;

}
#channelNote{
    color: white;
}
#myForm{
    display: flex;
    flex-direction: row;
}
#contentHolder{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2vh;
    grid-area: contentArea;
    overflow-y: scroll;
}
.dataRow {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding-top: 2vh;
}
.datumName{
    font-weight: bold;
    color: rgb(255, 0, 0);
}

.datumContent{
    color: white;
    overflow-wrap: break-word;
}

#contentInput{
    width: 100%;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 2vw;
    font-size: 1rem;
    overflow-wrap: break-word;
    grid-area: inputArea;
    
}

#contentInput:focus{
    outline: none;
}

#contentSubmitButton{
    background: white;
    border: 0px solid black;
    border-radius: 0px 10px 10px 0px;


}
#a, #b{
    display: none;
}

#goButton, #addButton{
    border: 1px solid white;

    border-radius: 5px;
    background: white;
}

#pageHeader *{
    font-size: 1rem;
}

@media (min-width: 600px){
    #contentHolder{
        width: 600px;
    }
    #contentInput{
        border-radius: 10px;

    }
    #holder{
        grid-template-areas: 'header header header'
    'a contentArea b'
    'a inputArea b';
    grid-template-columns: auto 600px auto;
    }
    #a{
        grid-area: a;
    }
    #b{
        grid-area: b;
    }
    #a, #b{
        display: block;
    }
    #contentSubmitButton{
        display: none;
    }
    #goButton{
        display: none;
    }
}